<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weird chess</title>

    <style>
        html
        {
            text-align: center;
        }

        body
        {
            display: inline-block;
            margin: 0px auto;
            text-align: center;
        }

        table
        {
            border: 1px solid black;
        }

        th
        {
            border: 1px solid black;
            text-align: left;
        }

        td
        {
            border: 1px solid black;
            text-align: left;
        }

    </style>
</head>
<body>

<h1>Weird chess</h1>

Hi! Welcome to my weird chess. It is my AI project for school. The idea started about a year ago and now I chose it as my project.<br>

<sub>(my Javascript is a mess, don't look at it)</sub>

<br><br>

<form action="rules">
    <button type="submit">Read rules here</button>
</form>

<br>

<form action="game">
    <button type="submit">Play here</button>
</form>

<br><br>

<h3>Changelog</h3>

<table style="width:100%">
    <tr>
        <th>Date</th>
        <th>Change</th>
    </tr>

    <tr>
        <td>03.05.2018</td>
        <td>Disabled option to play with players</td>
    </tr>

    <tr>
        <td>03.04.2018</td>
        <td>Added basic Negamax AI</td>
    </tr>

    <tr>
        <td>02.04.2018</td>
        <td>Added option to play against AI</td>
    </tr>

    <tr>
        <td>28.03.2018</td>
        <td>Fixed issue with disconnecting while joining random</td>
    </tr>

    <tr>
        <td>28.03.2018</td>
        <td>First functional deploy</td>
    </tr>
</table>

</body>
</html>